:root{
    --prymary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #FFFFFF;
    --primary-text-color-theme-light: #2E2F42;
    --secondary-text-color-theme-dark: #F4F4FD;
    --secondary-text-color-theme-light: #434455;
    --accent-color :#404BBF;

}

.list {
    list-style: none;
}

.link{
    text-decoration: none;
}

body {
 font-family: var(--prymary-font);
 color: var(--secondary-text-color-theme-light);
 background-color: var(--primary-text-color-theme-dark);
 
}

/* ================== Components ================ */


.menu-link {
    font-weight: 500;
    font-family: var(--prymary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.menu-link:hover,
.menu-link:focus {
    color:var(--accent-color);
}

.modal-btn {
    font-weight: 500;
    font-family: var(--prymary-font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color-theme-dark);
    background-color: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.modal-btn:hover,
.modal-btn:focus {
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
   
}
.btn{
font-weight: 500;
    font-family: var(--prymary-font);
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
    background-color: var(--primary-text-color-theme-dark);
}

.btn:hover,
.btn:focus{
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
}


.subtitle {
    font-weight: 700;
    font-family: var(--prymary-font);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color-theme-light);

}


.headline {
    font-weight: 500;
    font-family: var(--prymary-font);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.section-description {
    font-weight: 400;
    font-family: var(--prymary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}

/* ================== /Components ================ */


/* ==================Site Header================ */
address{
    font-family: var(--prymary-font);
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color-theme-light);
}



.web{
    font-family:var(--secondary-font);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;
}

.studio {
    font-family:var(--secondary-font);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--primary-text-color-theme-light);
}

.contact-phone-number {
    font-family:var(--prymary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--primary-text-color-theme-light);
}


.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--accent-color)
}

.email-adress {
    font-weight: 400;
    font-family: var(--prymary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}

.email-adress:hover,
.email-adress:focus {
    color: var(--accent-color)
}


/* ==================/ Site Header================ */

/* ================== Hero =================== */

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--primary-text-color-theme-dark)
}


.hero {
    background-color: var(--primary-text-color-theme-light);
}

/* ==================/ Hero =================== */

/* ================== Footer =================== */


.footer-section-description {
font-family: var(--prymary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-dark);
}

.footer {
    background-color: var(--primary-text-color-theme-light);
    color:var(--secondary-text-color-theme-dark);
}

.web-logotype{
    font-family: var(--secondary-font);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.studio-logo{
    font-weight: 800;
    font-family: var(--secondary-font);
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-text-color-theme-dark);
}

.section-team{
    background-color: var(--secondary-text-color-theme-dark);
}


