
html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


img {
    display: block;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.navigate {
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


:root {
    --prymary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #FFFFFF;
    --primary-text-color-theme-light: #2E2F42;
    --secondary-text-color-theme-dark: #F4F4FD;
    --secondary-text-color-theme-light: #434455;
    --accent-color: #404BBF;

}



.list {
    background-color: var(--primary-text-color-theme-dark);
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--prymary-font);
    color: var(--secondary-text-color-theme-light);
    background-color: var(--primary-text-color-theme-dark);

}

/* ================== Components ================ */

.menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-family: var(--prymary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);

}

.modal-btn {
            display: block;
    display: inline-block;
    height: 56px;
            align-items: flex-start;
            border: none;
            margin-left: auto;
            margin-right: auto;
            border-radius: 4px;
            padding: 16px 32px;
            font-weight: 500;
            min-width: 169px;
            font-family: var(--prymary-font);
            font-size: 16px;
            line-height: 1.5;
            color: var(--primary-text-color-theme-dark);
            background-color: #4D5AE5;
            cursor: pointer;
            letter-spacing: 0.04em;
            flex-direction: row;

}


.modal-btn:hover,
.modal-btn:focus {
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);

}

.button{
    display: flex;
    justify-content: center;
}

.button .item {
    min-width: 69px;
    margin-right: 24px;
    margin-bottom: 72px;
    
    
}


.btn {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
    font-weight: 500;
    font-family: var(--prymary-font);
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: var(--secondary-text-color-theme-dark);
    border: 1px solid #E7E9FC;
    
}


.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
border: 1px solid transparent;

}


.subtitle {
    font-weight: 700;
    font-family: var(--prymary-font);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color-theme-light);

}


.headline {
    font-weight: 500;
    font-family: var(--prymary-font);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
        
}

.section-description {
    font-weight: 400;
    font-family: var(--prymary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}

/* ================== /Components ================ */


/* ==================Site Header================ */
.header{
    border-bottom: 1px solid #E7E9FC;
}


.address {
    font-style: normal;
    padding-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.address-list{
    display: flex;

}




.web {
    align-self: center;
    margin-right: 76px;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio {
    color: var(--primary-text-color-theme-light);
}


.top-nav{
    display: flex;
    padding: 0px;
    align-items: center;
}

.menu{
    display: flex;
    min-width: 261px;
    padding-top: 24px;
    margin-bottom: 24px;
    margin-right: 332px;
}

.address{
    display: flex;
    min-width: 151px;

}

.address .item:not(:last-child){
    margin-right: 40px;
}

.menu .item:not(:last-child){
    margin-right: 40px;
}




.address-link {
    min-width: 151px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-family: var(--prymary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color)
}


/* ==================/ Site Header================ */

/* ================== Hero =================== */

.main-title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
}



.hero {
    background-color: var(--primary-text-color-theme-light);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

/* ==================/ Hero =================== */

/* ================== Main =================== */

.team {

    background-color: var(--secondary-text-color-theme-dark);
}

.team-item {
    background-color: var(--primary-text-color-theme-dark);
}

/* ================== feature  =================== */

.feature-section{
        padding-top: 120px;
            padding-bottom: 120px;
}

.feature-list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
margin-right: 24px;

}

.headline{
    margin-bottom: 8px;
}

.feature-list .section-description{
    min-width: 264px;
}

.feature-list .item:not(:last-child){
margin-right: 24px;
}


/* ================== /feature/  =================== */

/* ================== our work  =================== */



.work .subtitle{
    margin-bottom: 72px;
}

.work .img-link:not(:last-child){
    
   margin-right: 24px;
}

.work{
  display: flex;
  flex-wrap: wrap;
padding-bottom: 120px;
}

img-link{
    display: flex;
        display: inline-block;
    width: 300px;
}


.img-list {
    display:flex;
    display: inline-block ;
    display: flex;
    margin-bottom: 120px;
    flex-basis: calc((100%-48px)/3);
    margin-right: 24px;
}

/* ==================/our work/ =================== */



/* ==================our team =================== */



.team{
    padding-top: 120px;
    background-color: var(--secondary-text-color-theme-dark);
    padding-bottom: 120px;
}


.team .item{
    margin-right: 24px;
    min-width: 264px;
}

.item:last-child{
   margin-right: 0;
}


.team .subtitle {
    margin-bottom: 72px;
}


.team-list{
    display: inline-block;
    display: flex;
        justify-content: center;
        
}


.team-container{
    padding-left: 16px;
        padding-right: 16px;
        border-radius: 0px 0px 4px 4px;
        text-align: center;  
}

.team-container .headline{
margin-bottom: 8px;
}




/* ==================/ our team =================== */

/* ================== Footer =================== */


.footer-section-description {
    width: 264px;
    font-family: var(--prymary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-dark);
}

.footer {
    background-color: var(--primary-text-color-theme-light);
    color: var(--secondary-text-color-theme-dark);
    padding-top: 100px;
    padding-bottom: 100px;
}

.web-logotype {
    display: inline-block;
    margin-bottom: 16px;
    padding: 0px;
    width: 44px;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio-logo {
    color: var(--secondary-text-color-theme-dark);
    padding: 0px;
    width: 71px;
}


/* ================== Portfolio =================== */

.portfolio{
    padding: 96px 120px;
}


.image{
display: flex;
flex-wrap: wrap;
width: 1128px;
margin-bottom: 120px;
margin-left: 0;
margin-right: 0;
}

.image .img-link{
margin-right: 24px;
margin-left: 0;
}

.img-link:nth-child(3n+3){
    margin-right: 0;
}

.portfolio-container{
    padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;
}

.portfolio-container .headline{
    text-align: center;
    margin-bottom: 8px;
}

.portfolio-container .section-description{
    text-align: center;
}


/* ================== /Portfolio/ =================== */